* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #3b3946;
}

#header {
  padding: 1em 4em;
  background-color: #18171c;
}

h1 {
  color: #f4f4f4;
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
}

#main {
  width: 100%;
}

#btn {
  display: block;
  margin: 3rem auto;
  background-color: #f60;
  color: #1f1e25;
  font-size: 1.5em;
  padding: 1rem 1.5rem;
  border: 2px solid #1f1e25;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#btn:hover {
  color: #f4f4f4;
  border-color: #f4f4f4;
}

#data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 2rem;
}

#data div {
  display: inline-block;
  box-sizing: border-box;
  min-width: 5rem;
  margin: 1rem;
  background-color: #1f1e25;
  color: #f4f4f4;
  padding: .75rem 1rem;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 2px 2px 16px #1f1e25;
}

#data div:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

#data div.three {
  background-color: #800000;
}

#data div.five {
  background-color: #024902;
}

#data div.both {
  background-color: #12126d;
}

#data div p {
  text-align: center;
}
